<div class="card mx-auto mb-3 employee-card">
    <div class="card-header">
        <h2 class="card-title wide-space">{{ name }}</h2>
        <h3 class="card-title wide-space"><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item wide-space"><i class="fas fa-id-card mr-2"></i>{{ id }}</li>
            <li class="list-group-item"><i class="fas fa-envelope mr-2"></i><a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item">School: <span class="wide-space">{{ school }}</span></li>
        </ul>
    </div>
</div>
